/.TestProcessor.java._trace
/.TestQuerySpecification.java._trace
/.SectionBeforeTrainProcessor.java._trace
/.SectionBeforeTrainQuerySpecification.java._trace
/.SectionBeforeClockwiseTrainProcessor.java._trace
/.SectionBeforeClockwiseTrainQuerySpecification.java._trace
/.SectionBeforeCounterClockwiseTrainProcessor.java._trace
/.SectionBeforeCounterClockwiseTrainQuerySpecification.java._trace
/.ZeroBetweenProcessor.java._trace
/.ZeroBetweenQuerySpecification.java._trace
/.OneBetweenProcessor.java._trace
/.OneBetweenQuerySpecification.java._trace
/.CrashProcessor.java._trace
/.CrashQuerySpecification.java._trace
