<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pathfindermodel -->
      <package
            uri="http://hu.bme.mit.kv.pathfindermodel"
            class="hu.bme.mit.kv.pathfindermodel.PathfindermodelPackage"
            genModel="model/pathfindermodel.genmodel"/>
   </extension>

</plugin>
