/.SectionBeforeClockwiseTrainProcessor.java._trace
/.SectionBeforeClockwiseTrainQuerySpecification.java._trace
/.SectionBeforeCounterClockwiseTrainProcessor.java._trace
/.SectionBeforeCounterClockwiseTrainQuerySpecification.java._trace
/.SectionBeforeTrainProcessor.java._trace
/.SectionBeforeTrainQuerySpecification.java._trace
/.OneBetweenProcessor.java._trace
/.OneBetweenQuerySpecification.java._trace
/.SameSectionProcessor.java._trace
/.SameSectionQuerySpecification.java._trace
/.ZeroBetweenProcessor.java._trace
/.ZeroBetweenQuerySpecification.java._trace
/.SafeProcessor.java._trace
/.SafeQuerySpecification.java._trace
